# RemoteVote NG Backend Environment Variables (example)

# -------------------------
# Django
# -------------------------
DJANGO_SECRET_KEY=change-me-to-a-secure-random-value
DJANGO_DEBUG=True

# -------------------------
# Database
# -------------------------
# Leave empty to use SQLite (development)
# For Postgres: postgresql://user:pass@host:5432/dbname
DATABASE_URL=

# Default auto-provisioned INEC Secretary credentials
SECRETARY_NIN=
SECRETARY_STAFF_NUMBER=
SECRETARY_DEFAULT_PASSWORD=
SECRETARY_EMAIL=
SECRETARY_NAME=
SECRETARY_STATE=
SECRETARY_LGA=

#Cloudinary configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Brevo API configuration
# To use Brevo, enter your API Key below. If left empty or set to 'mock',
# the application will run in local development mode and print all emails to the console.
BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=
